*
{
  font-family: Verdana, sans-serif;/*
  background-color: gray;*/
}

a
{
	text-decoration: none;
}
nav a{
	text-decoration: none;
	margin: 5px;
	border: solid 2px rgba(0, 0, 0, .5);
	font-weight: bold;
	padding:  2px;
	border-radius: 5px
}
table{
	border-collapse:  collapse;
	width: 100%;
}
tr, td, th {
	border: 2px solid rgba(10,10,10,0.2);
	text-align: center;
	padding:  5px;
}
div {
	text-align: center;
}
table{
	margin: 2.5%;
	width: 95%;
}
h2 a {
	border: solid 2px black;
	border-radius:  5px;
	padding: 2px;
}

.t
{
	background-color: #00dcff;
}

.l
{
	background-color: #05df54;
}

.p
{
	background-color: #fe6701;
}

.a
{
	background-color: #df0582 ;
}

.lunch img
{
	/*
	background-image: url("https://img.icons8.com/bubbles/1x/meal.png");
	height: 100%;
	*/
}


.header
{
	display: flex;
	flex-direction: row;
}

.links
{
	width: 85vw ;
}

.clock {
  position: relative;
  width: 450px;
  height: 150px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 20px;
  backdrop-filter: blur(20px);
}

.clock .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.clock .container h2 {
  font-size: 3.5rem;/*
  color: #fff;*/
}

.clock .container h2:nth-child(odd) {
  padding: 5px 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}